# Prod configuration

services:
  backend:
    env_file:
      - ./backend/.env.production
    environment:
      NODE_ENV: production
    volumes:
      - ./backend/logs:/app/logs

  frontend:
    env_file:
      - ./frontend/.env.production
    environment:
      NODE_ENV: production
